body {
  background: url(happyweather.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 50%;
  margin: 0 auto;
}

fieldset {
  margin-top: 30%;
  display: block;
  border: none;
  padding: 20px;
}

.ghost-input,
p {
  display: block;
  font-weight: 300;
  width: 100%;
  font-size: 25px;
  border: 0px;
  outline: none;
  width: 100%;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #9aa9bd;
  background: rgba(192, 190, 186, 0.1);
  text-align: center;
  padding: 10px 15px;
  margin: 30px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.ghost-input:focus {
  border-bottom: 1px solid #ddd;
}

.ghost-button {
  cursor: pointer;
  font-size: 20px;
  border-radius: 15px;
  opacity: 0.8;
  border: 1px solid #ddd;
  box-shadow: 4px 4px 2px;
  padding: 10px 20px;
  width: 0%;
  min-width: 250px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.ghost-button:hover {
  opacity: 0.7;
  transform: scale(1.05);
  border: 1px solid #bdb0b0;
}

p {
  color: black;
  text-decoration: black;
  font-optical-sizing: 15px;
  text-shadow: black;
  font-weight: bold;
  border-radius: 5px;
}